:root {
  --color-text-primary: #212121;
  --color-text-secondary: #464646;
  --color-edit: #0089FF;
  --color-toggle: #47E4C2;
  --color-remove: #BCAEFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
}

.app {
  min-height: 100vh;
  background-color: var(--color-text-primary);
  display: flex;
}

.app__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

@media screen and (min-width: 769px) {
  .app {
    justify-content: center;
    align-items: center;
  }

  .app__container {
    width: 50rem;
    height: 70rem;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
}